.section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

body {
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  background-color: rgb(252, 245, 235);
}

main {
  margin: 20px 20px;
}

.element {
  font-size: 12px;
  }

.element:visited {
  color: rgb(199, 113, 97);
}

h1 {
  font-family: 'Patrick Hand', cursive;
  font-size: 35px;
  color: rgb(173, 195, 184);
  margin: 25px 20px;
}

h2 {
  font-family: 'Patrick Hand', cursive;
  color: rgb(173, 195, 184);
}

h3 {
  font-family: 'Patrick Hand', cursive;
  color: rgb(199, 113, 97);
  font-size: 20px;
}

img {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  display: block;
}

.info {
  font-size: 10px;
}

footer {
  background-color: rgb(199, 113, 97);

}

.contact {
  color: white;
  font-family: 'Patrick Hand', cursive;
  margin: 10px;
  font-size: 20px;
}

.floraison {
  font-size: 12px;
  font-weight: bold;
}

.nom-pousse {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}

.container {
  display: flex;
  align-items: center;
}

.infofooter {
  margin: 0;
  padding: 10px 10px;
  font-size: 10px;
}

.button {
  border-radius: 10px;
  background: rgb(199, 113, 97);
  font-size: 15px;
  padding: 10px;
  width: 45px;
  display: flex;
  justify-content: center;
}

.txt {
  color: rgb(173, 195, 184);
  margin: auto;
  font-size: 12px;
}

p {
  margin-top: 25px;
}
